{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Faculty</th>
                <th>Enrollment</th>
                <th>Graduation</th>
                <th>Vacancies</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
            <tr>

                <th>{{ student.name | upper }}</th>
                <th>{{ student.faculty }}</th>

                <th>
                    {{ student.enrollment_year|date:"M d, Y" }}
                </th>
                <th>
                    {{ student.graduation_year|date:"M d, Y" }}
                </th>
                <th>
                    <p>Vacancies:</p>
                    <ul>
                        {% for vacancy in student.vacancies.all %}
                            <li>{{ vacancy.title }}</li>
                        {% empty %}
                            <li>No vacancies</li>
                        {% endfor %}
                    </ul>
                </th>
                <th>
                    <a href="{{ student.get_absolute_url }}">Detail</a>
                </th>
                <th>
                    <a href="{% url 'student-delete-view' student.id %}">Delete Student</a>
                </th>
            </tr>

            {% endfor %}


        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="pagination">
                        {% if students.has_previous %}
                        <a href="?page={{ students.previous_page_number }}">Предыдущая</a>
                        {% endif %}

                        <span>Страница {{ students.number }} из {{ students.paginator.num_pages }}</span>

                        {% if students.has_next %}
                        <a href="?page={{ students.next_page_number }}">Следующая</a>
                        {% endif %}
                    </div>

                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="{% url 'student-create-view' %}">Create Student</a>
                </td>
                <td>
                    Total: {{ total }}
                 </td>
            </tr>

        </tfoot>
    </table>

    <p>Total Visits: {{ visit_count }}</p>
</div>
{% endblock content %}
