{% extends 'base.html' %}
{% load tags %}
{% block content %}
    <h1>{% say_hello_world %} {% show_name 'alexmintt' %}</h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Company</th>
                <th>Salary</th>
            </tr>
            </thead>

            <tbody>
            {% for vacancy in vacancies %}
                <tr>
                   
                    <th>{{ vacancy.title }}</th>
                    <th>{{ vacancy.description }}</th>
                    <th>{{ vacancy.company.name }}</th>
                    <th>{{ vacancy.salary }}</th>
                </tr>

            {% endfor %}


            </tbody>
            <tfoot>
                <tr>
                    <td>All ({% get_size_of_vacancies %})</td>
                </tr>
            </tfoot>
        </table>
    </div>
    
{% endblock content %}